<div class="box-container">
    <div class="card box-contents" style="width:25rem;">
        <div class="card-body">
            <div class="error">
                <h2 class="bg-error">{{t 'failWhalePage.header'}}</h2>
                <div class="p-20">
                    <h4 class="mt-20">{{model.code}} {{#if model.status}}({{model.status}}){{/if}}</h4>
                    <p>{{model.message}}</p>
                    <p class="small">{{model.detail}}</p>
                    <div class="mt-20">
                        {{t 'failWhalePage.reloadButton' htmlSafe=true}} <a class="hand" {{action "logout"}}>{{t 'failWhalePage.logoutButton'}}</a>
                    </div>
                </div>
            </div>
            {{#if settings.isRancher}}
            <div class="loader"></div>
            {{/if}}
        </div>
    </div>
</div>