<div class="mt-4">
<span><img src="assets/images/org.png" height="43px" width="auto"></span>
<span class="outlet-head">{{t 'organization.header.header1'}}</span>
<span data-toggle="tooltip" data-placement="right" title={{t 'organization.tooltip.tooltip1'}}><i class="fa fa-question-circle" aria-hidden="true" style="font-size:17px;"></i></span>
</div>

<div class="card mt-2">
	<div class="card-body">
		<div class="org-page">
				<div style="border-bottom: 5px;">
        			<span class="head" >
        			{{t 'organization.generic.name'}}:
    				</span>
    				<span style="display: inline-block;">{{ds-inline-edit
    						model=model.currentOrganization 
    						prop='name'
    						customUpdate=(action send 'updateModelName')
    						onError=(action send 'onError')
    						onUpdate=(action send 'onUpdate')
  						  }}
  					</span>
				</div>
				<hr>
			{{organization-member model=model}}
			<hr>
			{{organization-integration-mulebot model=model}}
			<hr>
			{{organization-setting model=model.currentOrganization}}
			<hr>
			   
		</div> 
	</div>
</div>