<div style="padding:0 5%;">
    <div>
        <span class="head">{{t 'organization.monitoring.generic.username'}}:</span>
        <span>{{monitoringUsername}}</span>
    </div>
    <div>
        <div class="d-flex">
            <div style="width: 45%">
                <span class="head">{{t 'organization.monitoring.generic.password'}}:</span>
                <span id="password">{{monitoringPasswordStart}}</span>
            </div>
            <div>
                <span><i class="fa fa-2x {{passwordbtnclass}}" aria-hidden="true" {{action "togglestate"}}></i></span>
            </div>
        </div>
    </div>

</div>  